{% extends 'base.template.html' %}
{% load static %}

{% block footer_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script src='{% static 'cart/datetimepicker.js' %}'></script>
{% endblock %}

{% block content %}

    {% for cart_item in all_cart_items %}
        <div class="media">
            <img src="{{ cart_item.product.image.url }}" class="mr-3" />
            <div class="media-body">
                <h5 class="mt-0">{{ cart_item.product.name }}</h5>
                <p>
                    {{ cart_item.description }}
                </p>
                <p>
                    Cost: ${{ cart_item.product.getCostInDollars }} <br/>
                    Quantity: {{ cart_item.quantity }}

                    <a href="{% url 'clear_from_cart' cart_item_id=cart_item.id %}" class="btn btn-primary">Clear</a>
                </p>
            </div>
        </div>
    {% endfor %}


  {{ date_form }}

    <a href="{% url 'checkout'%}" class="btn btn-primary">Checkout</a>

    
{% endblock %}