{% extends 'base.template.html' %}
{% load static %}

{% block title %}{%endblock%}

{% block content %}

<div class="row justify-content-center sub-headings"><h1>Items In Cart</h1></div> 

<div class="row ml-0 pl-2 pt-3 mt-3 d-flex justify-content-center">
    
    {% for cart_item in all_cart_items %}
    
    
        <div class="card m-2" style="width: 18rem;"">
            <img src="{{ cart_item.product.image.url }}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title mt-0">{{ cart_item.product.name }}</h5>
                <p class="card-text">
                    {{ cart_item.description }}
                </p>
                <p class='card-text p-2'>
                    Cost: ${{ cart_item.product.getCostInDollars }} 
                    <br/>
                    Quantity: {{ cart_item.quantity }}

                    <a href="{% url 'clear_from_cart' cart_item_id=cart_item.id %}" class=" m-2 d-block btn btn-primary">Clear</a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="d-block d-flex justify-content-center" m-3 p-3>
    <a class="btn btn-primary" id="checkout-btn" type="submit" href="{% url 'checkout'%}">Checkout</a>
</div>

{% endblock %}