{% extends 'base.template.html' %}
{% load static %}

{% block title %} - About{%endblock%}

{% block h1 %}About Us{% endblock %}

{% block content %}

<section class="m-2 p-2">
  <h4><b>Who Are We</b></h4>
  <br><br>
 <p>Sofia's Pizza is a pizza delivery chain in Singapore. Established in 1998, the brand has the mission to serve authentic Italian home style pizza right to your doorstep.
  <br><br>
    Only “Sofia's Pizza in-house” brand of whole-peeled Roma tomatoes from Italy are approved and used worldwide.
    <br>
    We farm and produce our tomato sauce in the northern part of Italy; and before shipping out for consumption, we go through an intensive quality control process to assure product quality.
  <br><br>
  With our commitment in serving fresh and quality ingredients and making Sofia's Pizza available and accessible every day to everyone in Singapore, our delivery service do just that.
  <br><br>
  </p>
</section>

<section class="m-2 p-2">
    <h4><b>How to Order</b></h4>  

<div class="mt-3 pt-3">
    <h5>Log in with your account</h5> 
    
    <p>
        Please note that delivery is only in Singapore.
        <br>
        Before you make your order, please log in with your email address and password.
        <br>
        If you are not yet a registered user, please create an account.
        <br>
    </p>
    <br>
</div>  

<div class="mt-2 pt-2">
    <h5>Choose your items</h5>
        
    <p>
        Browse through the menu and click on the "+/-" buttons to add/remove the items you want to your shopping cart.
        <br>
        Check your shopping cart to view the items that you have selected.
    </p>
    <br>
</div>
<div class="mt-2 pt-2">
    <h5>Checkout</h5>
    <p>
        When you are ready to confirm your order, click on the "Checkout" button and you will see the total amount due. 
    </p>
    <br>
</div>
<div>
    <h5 class="mt-2 pt-2">Payment Due</h5>
    <p>
        When you have confirmed the payment amount due, click on the "Pay" button to proceed with payment. 
        <br>
        Please note that credit card payment is only accepted.
        <br>
        You may click on the "Cancel" button to cancel the checkout transaction and all items will be removed from your shopping cart.
        <br>
    </p>
    <br>
</div>
<div>
    <h5>Payment Submission</h5>
    <p>
        When you completed the payment details, click on the "Submit Payment" button to proceed with payment. 
        <br>
        Upon successful payment, you can view your order under the "Order History" link.
        <br>
        You may click on the "Cancel" button to cancel the checkout transaction and all items will be removed from your shopping cart.
        <br>
    </p>
    <br>
</div>
</section>

<section class="m-2 p-2">
  <h4><b>Contact Us</b></h4>
  <br><br>
  
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>Our Headquarters:</th>
        <td>
          Sofia's Pizza Pte. Ltd.
          <br>
          00 Abc Lane, #00-00
          <br>
          Singapore 000000
        </td>
      </tr>
      <tr>
        <th>Telephone:</th>
        <td>12345678</td>
      </tr>
      <tr>
        <th>Email:</th> 
        <td>abc@abcd.abcd</td>
      </tr>
    </tbody>
  </table>
</section>

{% endblock %}