{% extends 'base.template.html' %}
{% load static %}

{% block title %} - About{%endblock%}

{% block content %}

  <div class="row justify-content-center sub-headings"><h1>ABOUT US</h1></div>
  
  <p>We exclusively deliver pizzas to your doorstep.</p>

    <h2>How to Order</h2>  
    <p>
        Check Service Availability 
        <br>
        To avoid disappointment, please check the service availability for your delivery location first. This also gives you the estimated delivery time.
        <br>
        Log in with your account
        <br>
        Before you make your order, please log in with your email address and password. If you are not yet a registered user, please click here to sign up.
        <br>       
        Choose your items
        <br>
        Browse through the menu and click on the "Add" button to add the items you want to your shopping cart. Kindly note that special requests may entail additional cost. If so, the outlet handling your order will call you to confirm the details and price.
        <br>
        Checkout!
        <br>
        When you are ready to confirm your order, click on the "Checkout" button. Choose where you want the order to be sent. You will be able to choose from a list of addresses that you have previously used. If your desired delivery destination is not in the list, you may add it as a new address.
    
    </p>

{% endblock %}