{% extends 'base.template.html' %}
{% load static %}

{% block title %}{%endblock%}

{% block h1 %}Order History{% endblock %}

{% block content %}

{% for each_item in transaction %}
{% if each_item.status == 'approved' %}
    <div class="card b-3 m-3 p-3">
        <div class="card-header b-2 m-2 p-2 d-flex justify-content-center"><b>Order Date: </b>&nbsp;&nbsp;{{ each_item.date }}</div>
        <div class="card-body b-2 m-2 p-2">
        <table class="card-text bl-2 ml-2 pl-2">  
            <tr class="card-title b-2 m-2 p-2"><th>Transaction No.:</th><th>&nbsp;&nbsp;{{ each_item.id }}</th></tr>
            <tr class="card-text b-2 m-2 p-2"><td><b>Order Status: </b></td><td>&nbsp;&nbsp;{{ each_item.status }}</td></tr>
            <tr class="card-text bl-2 ml-2 pl-2"><td><b>Ordered Item(s): </b></th><th>&nbsp;</td></tr>
            {% for each_line_items in each_item.line_items.all %}
                <tr class="card-text bl-2 ml-2 pl-2"><td>&nbsp;</td><td>&nbsp;&nbsp;{{ each_line_items.product.name }} x {{ each_line_items.quantity }}</td></tr>
            {% endfor %}                
            <tr class="card-text b-2 m-2 p-2"><td><b>Total Cost: </b></td><td>&nbsp;&nbsp;${{ each_item.getTotalCostInDollars }}0</td></tr>
        </table>
        </div>
    </div>

{% endif %}
{% endfor %}

{% endblock %}