{% extends 'base.template.html' %}

{% block content %}

<div style="display:flex; justify-content: space-around">
    
    {% for each_product in all_products%}
    <div class="card" style="width: 18rem;">
        <img src="{{ each_product.image.url }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ each_product.name }}</h5>
            <p class="card-text">{{ each_product.description }}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    
    {% endfor %}
    
</div>

{% endblock%}