html, body {
    border: 0;
    margin: 0;
}

body {
  padding-top: 56px;
  height: 100vh;
}

nav, nav-item, nav-link, a{
    background-color: #F4E87C;
    font-family: 'Roboto', sans-serif;   
    color: #584D3D !important;
}

nav-link:hover{
    background-color: red !important;
}

#business-name{
    font-weight: 600;
    text-shadow: 2px 2px #D1CECA;
    font-style: oblique;
}

#carousel-home-page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

h1 {
    padding: 2px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 600;
    text-shadow: 1px 1px #F6F6F5;
    letter-spacing: 3px;    
    display: flex;
    justify-content: center;    
}


.btn{
    background-color: #F3AB68;
    border-color: #C78C56;
}

.btn:hover{
    background-color:#F5BC86;
}

.container-fluid {
    font-family: 'Roboto', sans-serif;  
    color: #584D3D;  
    line-height: 1.5;
}

/*This is to style the item user adds to cart which the number will appear under
each respective product under the menu page*/
#cart-quantity {
    background-color: yellow !important;
}

