html, body {
    border: 0;
    margin: 0;
    background-color: #FCF8DB;
}

body {
  padding-top: 56px;
}

nav, nav-item, nav-link, a{
    background-color: #F4E87C;
    color: #584D3D;
}

#brand-logo {
    font-weight: 400;
}